<div class="container" style="margin-bottom:20px">
        <div class="row">
            <div class="col-md-9" style="margin-top:20px;">
                <a routerLink="/" style="margin-left:18px">
                    <svg width="170px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 191.02 56.07">
                        <defs>
                          <style>
                            .a {
                              font-size: 38.53px;
                              font-family: QuatroSlab-Bold, Quatro Slab;
                            }
                      
                            .a,
                            .f {
                              font-weight: 300;
                            }
                      
                            .b,
                            .e {
                              fill: #2081bf;
                            }
                      
                            .c,
                            .d,
                            .f {
                              fill: #333;
                            }
                      
                            .d {
                              letter-spacing: 0em;
                            }
                      
                            .e {
                              letter-spacing: -0.01em;
                            }
                      
                            .f {
                              font-size: 15.99px;
                              font-family: MyriadPro-Semibold, Myriad Pro;
                            }
                      
                            .g {
                              letter-spacing: -0.01em;
                            }
                      
                            .h {
                              letter-spacing: -0.01em;
                            }
                      
                            .i {
                              letter-spacing: 0.01em;
                            }
                          </style>
                        </defs>
                        <title>ben-logo</title>
                        <text class="a" transform="translate(0 33.14)">
                          <tspan class="b">B</tspan>
                          <tspan class="c" x="26.78" y="0">. </tspan>
                          <tspan class="b" x="46.27" y="0">E</tspan>
                          <tspan class="d" x="71.24" y="0">.</tspan>
                          <tspan x="82.07" y="0"> </tspan>
                          <tspan class="e" x="90.74" y="0">N</tspan>
                          <tspan class="c" x="121.98" y="0">.</tspan>
                        </text>
                        <text class="f" transform="translate(0.68 52.08)">Building Empl
                          <tspan class="g" x="96.79" y="0">o</tspan>
                          <tspan class="h" x="105.68" y="0">y</tspan>
                          <tspan x="113.47" y="0">er Ne</tspan>
                          <tspan class="i" x="149.79" y="0">t</tspan>
                          <tspan class="h" x="155.51" y="0">w</tspan>
                          <tspan x="167.28" y="0">ork</tspan>
                        </text>
                      </svg>
                </a>
            </div>
            <div class="col-md-2" style="margin-left: 95px">
                <li type="link" id="addEmployerLink" *ngIf="isAddNewLinkReq" class="btn btn-link  add-btn-cls">
                    <a routerLink="/add-employer">
                        <strong>+ Add New Employer</strong>
                    </a>
                </li>
            </div>
        </div>
    </div>